<?xml version="1.0" ?>
<%
  # make world file with command erb field_3.world.erb > field_3.world
  plant_distance_x = 0.75
  plant_distance_y = 0.133
  rows = 11
  number_of_plants_in_row = 57

  number_of_weed_patches = 9
  weed_patch_x = 0.25
  weed_patch_y = 0.25
  number_of_weeds = 10
%>

<sdf version="1.5">
  <world name="default">
    <include>
      <uri>model://ground_plane</uri>
    </include>
    <include>
      <uri>model://sun</uri>
    </include>
    <include>
      <uri>model://rover_gazebo/models/plane_field</uri>
      <name>plane_field</name>
      <pose>0 0 0 0 0 0</pose>
    </include>
    <include>
      <uri>model://rover_gazebo/models/red_line</uri>
      <name>red_line_1</name>
      <pose>-4.75 0 0.505 0 0 0</pose>
    </include>
    <include>
      <uri>model://rover_gazebo/models/red_line</uri>
      <name>red_line_2</name>
      <pose>0 -4.75 0.505 0 0 1.5708</pose>
    </include>
    <include>
      <uri>model://rover_gazebo/models/red_line</uri>a
      <name>red_line_3</name>
      <pose>4.75 0 0.505 0 0 0</pose>
    </include>
    <include>
      <uri>model://rover_gazebo/models/red_line</uri>
      <name>red_line_4</name>
      <pose>0 4.75 0.505 0 0 1.5708</pose>
    </include>
    <% # Loop
    r = 0
    while r < rows do
      r = r + 1
    %>
    <%
    if r <= number_of_weed_patches
    %>
    <%
      pos_x = -(plant_distance_x*(rows-1))/2 + plant_distance_x*rand(3) + plant_distance_x/2
      pos_y = -(plant_distance_y*(number_of_plants_in_row-1))/2 + rand(number_of_plants_in_row)*plant_distance_y
    %>
    <% # Loop
    weed_number = 0
    while weed_number < number_of_weeds do
      weed_number = weed_number + 1
      weed_name = 'weed_' + r.to_s + '_' + weed_number.to_s
      blue = rand(2)
    %>
    <%
    if blue == 1
    %>
    <include>
      <uri>model://rover_gazebo/models/blue_weed</uri>
      <name><%= weed_name %></name>
      <pose><%= pos_x + rand(-weed_patch_x/2...weed_patch_x/2) %> <%= pos_y + rand(-weed_patch_y/2...weed_patch_y/2) %> 0.5085 0 0 0</pose>
    </include>
    <% end %>
    <%
    if blue == 0
    %>
    <include>
      <uri>model://rover_gazebo/models/red_weed</uri>
      <name><%= weed_name %></name>
      <pose><%= pos_x + rand(-weed_patch_x/2...weed_patch_x/2) %> <%= pos_y + rand(-weed_patch_y/2...weed_patch_y/2) %> 0.506 0 0 0</pose>
    </include>
    <% end %>
    <% end %>
    <% end %>
    <% # Loop
    n = 0
    while n < number_of_plants_in_row do
      number = (r-1)*number_of_plants_in_row+(n+1)
      name = 'corn_' + number.to_s
      n = n + 1
    %>
    <%
    if n <= number_of_plants_in_row/2
    %>
    <include>
      <uri>model://rover_gazebo/models/corn</uri>
      <name><%= name %> </name>
      <pose><%= -(plant_distance_x*(rows-1))/2 + (plant_distance_x*(r-1)) %> <%= -(plant_distance_y*(number_of_plants_in_row-1))/2 + (n-1)*plant_distance_y %> 0.5 0 0 0</pose>
    </include>
    <% end %>
    <%
    if n > number_of_plants_in_row/2
    %>
    <include>
      <uri>model://rover_gazebo/models/corn</uri>
      <name><%= name %> </name>
      <pose><%= -(plant_distance_x*(rows-1))/2 + (plant_distance_x*(r-1)) %> <%= -(plant_distance_y*(number_of_plants_in_row-1))/2 + (n-1)*plant_distance_y %> 0.5 0 0 0</pose>
    </include>
    <% end %>
    <% end %>
    <% end %>
  </world>
</sdf>
